.grupe{
display: flex;
flex-wrap: wrap;
}
.stulpelis{
    display: flex;
    flex-direction: column;
    width:20%;
    margin:10px;
}
.tarpas {
    flex-basis: 100%;
}
.stulpelis2 {
    display: inline-block;
    margin:10px
        
}
